
<div class="keys">
  <div>
    <div class="alert" [ngClass]="{hide: !isCapsOn}">Caps Lock Включен!</div>
  </div>
  <div class="line">
    <div class="key" [ngClass]="{active:key.includes('Backquote')}">Ё</div>
    <div class="key sup" [ngClass]="{active:key.includes('Digit1')}">1<sup>!</sup></div>
    <div class="key sup" [ngClass]="{active:key.includes('Digit2')}">2<sup>"</sup></div>
    <div class="key sup" [ngClass]="{active:key.includes('Digit3')}">3<sup>№</sup></div>
    <div class="key sup" [ngClass]="{active:key.includes('Digit4')}">4<sup>;</sup></div>
    <div class="key sup" [ngClass]="{active:key.includes('Digit5')}">5<sup>%</sup></div>
    <div class="key sup" [ngClass]="{active:key.includes('Digit6')}">6<sup>:</sup></div>
    <div class="key sup" [ngClass]="{active:key.includes('Digit7')}">7<sup>?</sup></div>
    <div class="key sup" [ngClass]="{active:key.includes('Digit8')}">8<sup>*</sup></div>
    <div class="key sup" [ngClass]="{active:key.includes('Digit9')}">9<sup>(</sup></div>
    <div class="key sup" [ngClass]="{active:key.includes('Digit0')}">0<sup>)</sup></div>
    <div class="key sup" [ngClass]="{active:key.includes('Minus')}">-<sup class="sup2">_</sup></div>
    <div class="key sup" [ngClass]="{active:key.includes('Equal')}">=<sup>+</sup></div>
    <div class="sys backspace off" [ngClass]="{active:key.includes('Backspace')}">Backspace</div>
  </div>
  <div class="line">
    <div class="sys tab" [ngClass]="{active:key.includes('Tab')}">Tab</div>
    <div class="key" [ngClass]="{active:key.includes('KeyQ')}">Й</div>
    <div class="key" [ngClass]="{active:key.includes('KeyW')}">Ц</div>
    <div class="key" [ngClass]="{active:key.includes('KeyE')}">У</div>
    <div class="key" [ngClass]="{active:key.includes('KeyR')}">К</div>
    <div class="key" [ngClass]="{active:key.includes('KeyT')}">Е</div>
    <div class="key" [ngClass]="{active:key.includes('KeyY')}">Н</div>
    <div class="key" [ngClass]="{active:key.includes('KeyU')}">Г</div>
    <div class="key sel" [ngClass]="{active:key.includes('KeyI')}">Ш</div>
    <div class="key" [ngClass]="{active:key.includes('KeyO')}">Щ</div>
    <div class="key" [ngClass]="{active:key.includes('KeyP')}">З</div>
    <div class="key sup" [ngClass]="{active:key.includes('BracketLeft')}">Х</div>
    <div class="key sup" [ngClass]="{active:key.includes('BracketRight')}">Ъ</div>
    <div class="key sup" [ngClass]="{active:key.includes('Backslash')}">\<sup>/</sup></div>
  </div>
  <div class="line">
    <div class="sys caps" [ngClass]="{active:key.includes('CapsLock')}">Caps Lock</div>
    <div class="key hand" [ngClass]="{active:key.includes('KeyA')}">Ф</div>
    <div class="key hand" [ngClass]="{active:key.includes('KeyS')}">Ы</div>
    <div class="key hand" [ngClass]="{active:key.includes('KeyD')}">В</div>
    <div class="key hand start" [ngClass]="{active:key.includes('KeyF')}">А</div>
    <div class="key" [ngClass]="{active:key.includes('KeyG')}">П</div>
    <div class="key" [ngClass]="{active:key.includes('KeyH')}">Р</div>
    <div class="key hand start" [ngClass]="{active:key.includes('KeyJ')}">О</div>
    <div class="key hand" [ngClass]="{active:key.includes('KeyK')}">Л</div>
    <div class="key hand" [ngClass]="{active:key.includes('KeyL')}">Д</div>
    <div class="key hand sup" [ngClass]="{active:key.includes('Semicolon')}">Ж</div>
    <div class="key sup" [ngClass]="{active:key.includes('Quote')}">Э</div>
    <div class="sys enter" [ngClass]="{active:key.includes('Enter')}">Enter ¶</div>
  </div>
  <div class="line">
    <div class="sys lshift" [ngClass]="{active:key.includes('ShiftLeft')}">Shift</div>
    <div class="key" [ngClass]="{active:key.includes('KeyZ')}">Я</div>
    <div class="key" [ngClass]="{active:key.includes('KeyX')}">Ч</div>
    <div class="key" [ngClass]="{active:key.includes('KeyC')}">С</div>
    <div class="key" [ngClass]="{active:key.includes('KeyV')}">М</div>
    <div class="key" [ngClass]="{active:key.includes('KeyB')}">И</div>
    <div class="key" [ngClass]="{active:key.includes('KeyN')}">Т</div>
    <div class="key" [ngClass]="{active:key.includes('KeyM')}">Ь</div>
    <div class="key sup" [ngClass]="{active:key.includes('Comma')}">Б</div>
    <div class="key sup" [ngClass]="{active:key.includes('Period')}">Ю</div>
    <div class="key sup" [ngClass]="{active:key.includes('Slash')}">.<sup>,</sup></div>
    <div class="sys rshift" [ngClass]="{active:key.includes('ShiftRight')}">Shift</div>
  </div>
  <div class="line">
    <div class="space" [ngClass]="{active:key.includes('Space')}">
      <div></div>
    </div>
  </div>
</div>
