main{
  min-height: 100vh;
}

.training-cards{
  display: flex;
  flex-wrap: wrap;
  gap:40px;
  margin-top:20px;
}

.training-card{
  background: #efefef;
  width: 30%;
  min-width: 250px;
  max-width: 400px;
  min-height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap:40px;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  transition-duration: 300ms;
  position: relative;

  &:hover{
    box-shadow: -3px 3px 10px #8a8a8a;
    transform: translateY(-3px);
  }
  & h4{
    font-size: 30px;
  }
}
