main{
  min-height: 100vh;
}
.main-container{
  backdrop-filter: blur(4px);
  padding-top:40px;
}
.info-container{
  margin-bottom: 0;
}
.training-cards{
  display: flex;
  flex-wrap: wrap;
  gap:40px;
  margin-top:20px;
}

.training-card{
  color:white;
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  min-height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  transition-duration: 300ms;
  position: relative;
  font-size: clamp(16px, 1vw, 20px);
  background: #1c1c1c;

  & .training-card-info{
    display: flex;
    gap:20px;
    width: 100%;
    padding: 0 8px;

    & span{
      padding: 5px 10px;
      border-radius: 10px;
    }

    & .green{
      background: #27b268;
    }
    & .yellow{
      background: #a8c42b;
    }
    & .red{
      background: #d72b60;
    }
  }

  &:hover{
    box-shadow: -3px 3px 10px #424242;
    transform: translateY(-3px);
  }
  & h4{
    font-size: 30px;
  }
}

.training-back{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  & div:nth-child(1){
    position: absolute;
    width: 100%;
    &:before{
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      background:rgba(28, 28, 28, 0.8);;
      width: 10vw;
      height: 100vw;
      left: 10vw;
      top:50vh;
      rotate:30deg;
    }

    &:after{
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      background: #ffffff;
      width: 20vw;
      height: 20vw;
      left: 35vw;
      top:40vh;
      rotate:45deg;
    }
  }

  & div:nth-child(2){
    position: absolute;
    width: 100%;
    &:before{
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      background: rgba(28, 28, 28, 0.8);;
      width: 10vw;
      height: 100vw;
      left: 100vw;
      top:-17vh;
      rotate:-30deg;
    }

    &:after{
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      background: #ffffff;
      width: 20vw;
      height: 20vw;
      left: 65vw;
      top:-17vh;
      rotate:-60deg;
    }
  }

  & div:nth-child(3){
    position: absolute;
    bottom: 400px;
    left:50vw;
    rotate: -60deg;
    transform: scale(2);
  }
}
