<main>
  <div class="main-header">
    <h2>Тренировка</h2>
    <span>Выберите режим для тренировки печати</span>
  </div>
  <div class="main-container">

    <div class="main-section">
      <h3>Стандартные режимы</h3>
      <div class="training-cards">

        <a class="training-card" routerLink="/">
          <h4>200 слов</h4>

          <app-demo
            text="мама куда мышь на я оранжевый окно солнце который если дело ну
            бы сделать вопрос хотя большой"></app-demo>


          <span>Набирайте комбинацию из случайных 200 слов. Самый простой из всех режимов, так как со временем вы запомните эти слова и будете писать их гораздо быстрее.</span>
        </a>
        <a class="training-card" routerLink="/">
          <h4>1000 слов</h4>
          <app-demo
            text="синий что-нибудь богатый сделать стол стул кудрявый Арсений
            не любит тебя счастливый хотя отдать уж понимать"></app-demo>

          <span>Набирайте комбинацию из случайных 1000 слов. После тренажёра на 200 слов вам покажется этот он сложнее, хотя вы просто не привыкли к новым словам. </span>
        </a>
        <a class="training-card" routerLink="/">
          <h4>Режим текст</h4>
          <app-demo
            text="А вы знали, что в одной чайной ложке обыкновенной земли больше
            микробов, чем во всех людях на планете? В это довольно сложно
            поверить."></app-demo>
          <span>Вам дан текст, вы его должны набрать 1 в 1. Лучше заранее глянуть текст, чтобы следующее слова для набора не являлось для вас чёрным ящиком.</span>
        </a>
      </div>
    </div>

    <div class="main-section">
      <h3>Особые режимы</h3>
      <div class="training-cards">
        <a class="training-card">
          <h4>Русско-английский режим</h4>
          <app-demo text = "Angular - это фреймворк для JavaScript, для разработки
          web приложений frontend разработчиками"></app-demo>
          <span>Больше подходит разработчикам и людям, которым требуется постоянно переключать раскладку. Тут будет представлен случайный текст имеющий русские и английские слова. Наслаждайтесь.</span>
        </a>
        <a class="training-card">
          <h4>Английский режим</h4>
          <app-demo text = "USA extanded user table after in put me India cup
          computer butterfly phone sun tree three equipmant"></app-demo>
          <span>Учите английский или хотите начать быстро печатать на английской раскладке? На такой случай можете попробовать тренажёр на случайные 1000 английских слов. Может даже новые слова для себя выучите.</span>
        </a>
        <a class="training-card">
          <h4>Экстрим</h4>
          <app-demo text = "гвлофжфос фзсззфыва ывапролджэ йцукенгшщз хфячсмитьб
          югшщнкувап рлджэфыва ывап хфячсмитьб югшщнкува"></app-demo>
          <span>Для самых "одарённых" пользователей есть режим который не имеет никакого практического смысла но из всех он является самым трудным. Вам предстоит писать текст? фразы? слова? Только случайные символы мой дорогой, только символы...</span>
        </a>
      </div>
    </div>

  </div>
</main>
