<main>
  <div class="main-header">
    <h2>Тренировка: режимы</h2>
    <span>Выберите режим для тренировки печати</span>
  </div>
  <section class="info-container">
    <h4> <fa-icon [icon]="faCircleInfo"></fa-icon> Тренажёры</h4>
    <p>
      Keyflex предоставит вам на этой странице множество тренажёров на выбор. Вы можете как просто опробовать их и проверить свою скорость печати, так и тренировать её.
    </p>
    <p>
      Для большей эффективности рекомендуется освоить печать с помощью 10 пальцев на сайте <a target="_blank" href="https://www.ratatype.com">ratatype</a>, а в последствие и слепую печать.
    </p>
    <p>
      Существуют множесто тестов для печати, но мы взяли самый удобный в использовании - как на сайте <a target="_blank" href = "https://10fastfingers.com/typing-test/russian">10fastfingers.com</a> и усовершенствовали его по-своему, чтобы сделать более удобным в испльзовании.
    </p>
    <p>Новичкам рекомендуется использовать <a routerLink = "/training/word/standart">тренажёр на 200 слов</a>.</p>
  </section>
  <div class="main-container">
    <app-auth-alert></app-auth-alert>
    <div class="main-section">
      <h3>Стандартные режимы</h3>
      <div class="training-cards">

        <a class="training-card" routerLink="/training/word/standart">
          <h4>200 слов</h4>

          <app-demo
            text="на здесь час рука почти котенок сказать дать жить мы каждый за если твой после ничто такой между стол еще это твой синий кто"></app-demo>

          <div class="training-card-info">
            <span class="green">лёгкий</span>
          </div>
          <span>Набирайте комбинацию из случайных 200 слов. Самый простой из всех режимов, так как со временем вы запомните эти слова и будете писать их гораздо быстрее.</span>
        </a>
        <a class="training-card" routerLink="/training/word/extended">
          <h4>1000 слов</h4>
          <app-demo
            text="написать первый отношение домой номер старик учитель открыть бумага семь железный герой узнавать легко голос обернуться пара центр"></app-demo>
          <div class="training-card-info">
            <span class="yellow">средний</span>
          </div>
          <span>Набирайте комбинацию из случайных 1000 слов. После тренажёра на 200 слов вам покажется этот сложнее, хотя вы просто не привыкли к новым словам. </span>
        </a>
        <a class="training-card" routerLink="/training/text/russian">
          <h4>Режим текст</h4>
          <app-demo
            text="Следует отметить, что высокотехнологичная концепция общественного уклада позволяет оценить значение своевременного выполнения сверхзадачи."></app-demo>
          <div class="training-card-info">
            <span class="red">тяжёлый</span>
          </div>
          <span>Сложный режим, который хорошо прокачает выши навыки печати. Будьте готовы, что ваша статистика будет совсем другой...</span>
        </a>
      </div>
    </div>

    <div class="main-section">
      <h3>Особые режимы</h3>
      <div class="training-cards">

        <a class="training-card" routerLink="/training/word/english">
          <h4>Английский режим</h4>
          <app-demo text = "USA extanded user table after in put me India cup computer butterfly phone sun tree three equipmant"></app-demo>
          <div class="training-card-info">
            <span class="yellow">средний</span>
          </div>
          <span>Учите английский или хотите начать быстро печатать на английской раскладке? На такой случай можете попробовать тренажёр на случайные 1000 английских слов. Может даже новые слова для себя выучите.</span>
        </a>

        <a class="training-card" routerLink="/training/word/extrime">
          <h4>Экстрим</h4>
          <app-demo text = "гвлофжфос фзсззфыва ывапролджэ йцукенгшщз хфячсмитьб
          югшщнкувап рлджэфыва ывап хфячсмитьб югшщнкува"></app-demo>
          <div class="training-card-info">
            <span class="red">тяжёлый</span>
          </div>
          <span>Для самых "одарённых" пользователей есть режим который не имеет никакого практического смысла но из всех он является самым трудным. Вам предстоит писать текст? фразы? слова? Только случайные символы мой дорогой, только символы...</span>
        </a>

        <a class="training-card" routerLink="/training/custom">
          <h4>Пользовательский</h4>
          <app-demo text = "Арсений туалет слова линейка математика сканави фишка Шелби скибиди фреде клавиатура Райден помогатор"></app-demo>
          <div class="training-card-info">
            <span class="green">пользовательский</span>
          </div>
          <span>Ваш пользовательский тренажёр. Укажите слова, или текст который хотите тренировать и занимайтесь!</span>
        </a>
      </div>
    </div>

  </div>
</main>
