<header>
  <h3>
    <svg width="80" height="80" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
      <rect/>
      <g font-family="Arial" font-size="100" fill="black" text-anchor="middle">
        <!-- Mirrored K -->
        <text x="30" y="85" transform="scale(-1, 1) translate(-60, 0)">K</text>
        <!-- F -->
        <text x="60" y="85">F</text>
      </g>
    </svg>

  </h3>
  <nav [ngClass]="{
   home:href==='/',
   training:href.includes('/training'),
   play:href.includes('/play'),
   about:href==='/about',
   user:href==='/profile'
   }">
    <a routerLink="/" [ngClass]="{active:href === '/'}">Главная</a>
    <a routerLink="/training" [ngClass]="{active:href.includes('/training')}">Тренировка</a>
    <a routerLink="/play" [ngClass]="{active:href.includes('/play')}">Играть</a>
    <a routerLink="/about" [ngClass]="{active:href === '/about'}">Проект</a>
    <a routerLink="/profile" [ngClass]="{active:href === '/profile'}">Профиль</a>
  </nav>
  <nav class="nav-compact">=</nav>
</header>
