h4 {
  font-size: 40px;
  font-weight: 100;
}

h4:after {
  content: "";
  display: block;
  height: 2px;
  background: black;
  width: 100%;
  margin: 5px 0 10px 0;
}

.user-info {
  display: grid;
  grid-template-columns:1fr 3fr;
  grid-template-rows:repeat(4, auto);
  column-gap: 40px;

  & .user-info-header {
    grid-column: 1/5;
    display: flex;
    width: 100%;
    justify-content: space-between;

    & h4 {
      flex: 1 1 auto;
    }

    & button {
      font-size: 24px;
      width: 200px;
      height: 60px;
      border-radius: 4px 4px 0 0;
    }

    &::after {
      width: 80%;
      max-width: 2000px;
    }
  }

  & .main-info {
    display: grid;
    gap: 10px;
    grid-template-columns:200px 200px;
    grid-template-rows: repeat(8, 1fr);
  }

  & .other-info {
    display: flex;
    flex-direction: column;

    & .user-other {
      height: 200px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      & span {
        font-size: 24px;
      }
    }

    & h4 {
      font-size: 24px;
    }

    & .achieve-container {
      display: flex;
      gap: 10px;

      & div {
        font-size: 30px;
        font-weight: bold;
        color: #5b5b5b;
        border: 4px solid #5b5b5b;
        border-radius: 20px;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
        user-select: none;
      }

      & .active {
        border: none;
        color: white;
        background: -moz-linear-gradient(to right top, #e72c83 0%, #a742c6 100%);
        background: -webkit-linear-gradient(to right top, #e72c83 0%, #a742c6 100%);
        background: linear-gradient(to right top, #e72c83 0%, #a742c6 100%);
      }
    }
  }
}

.main-charts-container {
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 40px;

  & h5 {
    font-size: 30px;
    margin: 0 0 20px 0;
    border-left: 4px solid #1c1c1c;
    padding-left: 20px;
  }
}


.main-chart {
  display: flex;
  flex-direction: column;
  background: #1c1c1c;
  color: white;
  padding: 40px 10%;


  & h4:after {
    background: white;
  }
}


.medium-chart {
  & .info-container {
    padding: 40px 5%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: repeat(4, auto);

    & div {
      min-width: 300px;
      display: grid;
      grid-template-columns:200px 40px;
      font-size: 16px;

      & span:first-child {
        text-align: end;
        padding-right: 10px;
      }
    }

    & h5 {
      margin-left: 7%;
      grid-column: 1/3;
      font-size: 20px;
      width: 100%;
      border-left: 4px solid #ffffff;
    }
  }
}

