@if (!isSettings) {
  <main>
    <div class="main-header">
      <h2>Профиль</h2>
      <span>Статистика и информация о пользователе</span>
    </div>
    <div class="main-container">
      <section class="user-info">
        <div class="user-info-header">
          <h4>{{userInfo.name}}</h4>
          <button (click)="logout()">
            Выход
          </button>
          <button (click)="setIsSettings()">
            <fa-icon [icon]="faGear"></fa-icon>
            Настройки
          </button>
        </div>

        <div class="main-info">
          <span>Клавиатура: </span>
          <span>{{userInfo?.keyboard_type ?? "не указано"}}</span>

          <span>Слепая печать: </span>
          <span>{{userInfo?.touchTyping ? "владеет" : "не владеет"}}</span>

          <span>Профессия: </span>
          <span>{{userInfo?.profession ?? "не указано"}}</span>

          <span>Страна\город: </span>
          <span>{{userInfo?.location ?? "не указано"}}</span>

          <span>На Keyflex с: </span>
          <span>{{userInfo?.register_date}}</span>
        </div>

        <div class="other-info">
          <div class="user-other">
            <span>Другая информация:</span>
            <p>{{userInfo?.other}}</p>
          </div>
          <h4>Достижения</h4>
          <div class="achieve-container">
            <div [ngClass]="{active:userInfo.achievements.includes(40)}">
              40
            </div>
            <div [ngClass]="{active:userInfo.achievements.includes(50)}">
              50
            </div>
            <div [ngClass]="{active:userInfo.achievements.includes(60)}">
              60
            </div>
            <div [ngClass]="{active:userInfo.achievements.includes(70)}">
              70
            </div>
            <div [ngClass]="{active:userInfo.achievements.includes(80)}">
              80
            </div>
            <div [ngClass]="{active:userInfo.achievements.includes(90)}">
              90
            </div>
            <div [ngClass]="{active:userInfo.achievements.includes(100)}">
              100
            </div>
          </div>
        </div>


      </section>
    </div>

    <div class="main-chart">
      <h4>Результаты всех тестов</h4>
      <apx-chart
        [series]="mainStats"
        [chart]="mainChart.chart"
        [stroke]="mainChart.stroke"
        [yaxis]="mainChart.yaxis"
        [xaxis]="mainChart.xaxis"
        [grid]="mainChart.grid"
        [tooltip]="mainChart.tooltip"
      ></apx-chart>
    </div>

    <div class="main-container">

      <section class="main-charts-container">
        <div class="medium-chart">
          <h5>Точность</h5>
          <apx-chart
            [series]="countChartSeries"
            [chart]="countChartOptions.chart"
            [labels]="countChartOptions.labels"
            [fill]="countChartOptions.fill"
            [stroke]="countChartOptions.stroke"
            [colors]="countChartOptions.colors"
          ></apx-chart>
          <div class="info-container">
            <h5>Статистика: точность</h5>
            <div>
              <span>200 слов:</span>
              <span>100</span>
            </div>
            <div>
              <span>1000 слов:</span>
              <span>59</span>
            </div>
            <div>
              <span>Текст:</span>
              <span>90</span>
            </div>
            <div>
              <span>Английский:</span>
              <span>36</span>
            </div>
            <div>
              <span>Символьный:</span>
              <span>43</span>
            </div>
            <div>
              <span>Пользовательский:</span>
              <span>100</span>
            </div>
          </div>
        </div>


        <div class="medium-chart">
          <h5>Посещаемость</h5>
          <apx-chart
            [series]="attendanceChartSeries"
            [chart]='{type: "pie", height: 300}'
            [labels]="countChartOptions.labels"
            [fill]="countChartOptions.fill"
            [stroke]="countChartOptions.stroke"
            [colors]="countChartOptions.colors"
          ></apx-chart>
          <div class="info-container">
            <h5>Статистика: посещаемость</h5>
            <div>
              <span>200 слов:</span>
              <span>1001</span>
            </div>
            <div>
              <span>1000 слов:</span>
              <span>304</span>
            </div>
            <div>
              <span>Текст:</span>
              <span>96</span>
            </div>
            <div>
              <span>Английский:</span>
              <span>201</span>
            </div>
            <div>
              <span>Символьный:</span>
              <span>17</span>
            </div>
            <div>
              <span>Пользовательский:</span>
              <span>30</span>
            </div>
          </div>
        </div>
      </section>

      <section class="main-charts-container">
        <div class="info-container">
          <h5>Статистика: последние результаты</h5>
          <div>
            <span>Лучший результат:</span>
            <span>80 сл. в минуту</span>
          </div>
          <div>
            <span>Худший результат:</span>
            <span>35 сл. в минуту</span>
          </div>
          <div>
            <span>Средний результат:</span>
            <span>61 сл. в минуту</span>
          </div>
          <div>
            <span>Лучшая точность:</span>
            <span>97%</span>
          </div>
          <div>
            <span>Худшая точность:</span>
            <span>83%</span>
          </div>
          <div>
            <span>Средняя точность:</span>
            <span>95%</span>
          </div>
          <div>
            <span>Популярный:</span>
            <span>200 слов</span>
          </div>
          <div>
            <span>Лучшая успеваемость:</span>
            <span>200 слов</span>
          </div>
          <div>
            <span>Лучшая точность:</span>
            <span>200 слов</span>
          </div>
        </div>
        <div class="main-chart" style="border-radius: 10px">
          <h5>Последние 10 результатов</h5>
          <apx-chart
            [series]="lastResults.series"
            [chart]="lastResults.chart"
            [stroke]="lastResults.stroke"
            [colors]="lastResults.colors"
            [plotOptions]="lastResults.plotOptions"
            [dataLabels]="lastResults.dataLabels"
            [xaxis]="lastResults.xaxis"
            [yaxis]="lastResults.yaxis"
            [grid]="mainChart.grid"
            [tooltip]="barChartOptions.tooltip"
            [legend]="barChartOptions.legend"
          ></apx-chart>
        </div>
      </section>

    </div>
  </main>
} @else {
  <main>
    <div class="main-header">
      <h2>Профиль</h2>
      <span>Статистика и информация о пользователе</span>
    </div>
    <div class="main-container">
      <section class="user-info">
        <div class="user-info-header">
          <h4>ada22</h4>
          <button (click)="setIsSettings()">
            <fa-icon [icon]="faGear"></fa-icon>
            Отменить
          </button>
        </div>
      </section>
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <h1>Настройка аккаунта KF</h1>
        <label>
          клавиатура
          <input
            formControlName="keyboard_type"
            placeholder="название клавиатуры"
          >
        </label>

        <label>
          владение слепой печатью
          <app-checkbox (click)="setIsTT()" [checked] = "isTT"></app-checkbox>
        </label>
        <label>
          профессия
          <input
            formControlName="profession"
            placeholder="ваша профессия"
          >
        </label>

        <label>
          место проживания (страна\город)
          <input
            formControlName="location"
            placeholder="Стнана\Город"
          >
        </label>
        <label>
          прочая информация
          <textarea
            formControlName="about_user"
            placeholder="другая информация, которой вы бы хотели поделиться с другими пользователями"
          ></textarea>
        </label>

        <div>
          <button>Сохранить</button>
        </div>

      </form>
    </div>
  </main>
}
