.card-demo-container{
  overflow: hidden;
  width: 100%;
  border:2px solid #868686;
  border-radius: 10px;
  padding: 5px;

  & p{
    text-align: start;
    color: #9b9b9b;

    & span{
      color: #ffffff;
    }
  }
}

