.card-demo-container{
  overflow: hidden;
  width: 100%;
  border:1px solid black;
  border-radius: 10px;
  padding: 5px;

  & p{
    text-align: start;
    color: #c9c9c9;

    & span{
      color:black;
    }
  }
}

