aside{
  position: absolute;
  right: 0;
  top:100px;
  bottom: 1000px;
  min-width: 200px;
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 220px;
  background: #1c1c1c;
  gap:2px;
  padding: 2px;
  max-width: 500px;

  &::after, &::before{
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background: white;
    margin: 10px auto;
  }

  & button{
    border-radius: 0;
    height: 40px;
    width: 100%;
  }
}

h3{
  font-size: 48px;
}

.info-container{
  span{
    font-size: 36px;
  }
}

.main-container h4{
  font-size: 36px;
  margin-top:40px;

  &::after{
    content: "";
    display: block;
    height: 4px;
    background: #707070;
  }
}

h5{
  font-size: 28px;
  margin-top:20px;
}

ul{
  margin:20px 40px;
}

p{
  width: 80%;
  min-width: 500px;
}

