<aside>
  <button (click)="setOption(0)">Общая информация</button>
  <button (click)="setOption(1)">Правила</button>
  <button (click)="setOption(2)">Разработка</button>
  <button (click)="setOption(3)">О разработчиках</button>
</aside>


<main [ngClass]="{hidden:option !== 0}">
  <div class="main-header">
    <h2>Проект: информация</h2>
    <span>Общая информация о проекте Keyflex</span>
  </div>
  <div class="main-container">
    <h3><span>Keyflex</span> - платформа для тренировки скорости печати</h3>
    <h4>Практическое применение и возможности:</h4>

    <h5>Тренировка скорости печати</h5>
    <p>Как и многие другие тренажёры в общем доступе вы можете проверить свою скорость печати и тренироваться на
      разнообразных тренажёрах.</p>

    <h5>Отслеживание статистики в реальном времени</h5>
    <p>В отличие от других тренажёров, вы можете в реальном времени просматривать свою статистику, и после того, как
      выйдет время вы получаете более подробную статистику чем на других платформах.</p>

    <h5>Система достижений</h5>
    <p>Для своей же мотивации вы можете просмотреть свои достижения и поставить себе цель и достигать её. Также можно
      похвастаться другим пользователям)</p>

    <h5>Статистика предоставленная в графиках</h5>
    <p>В своём профиле вы можете смотреть свою статистику в цифрах и диагаммах. Мы постарались сделать её как можно
      более удобной для чтения.</p>

    <h5>Множество режимов тренировки</h5>
    <p>Keyflex в себя включает 6 режимов тренировки:</p>
    <ul>
      <li>200 слов</li>
      <li>1000 слов</li>
      <li>1000 слов ( английский )</li>
      <li>Текст</li>
      <li>Символы</li>
      <li>Пользовательский</li>
    </ul>

    <h5>Соревновательный режим</h5>
    <p>Вы можете соревноваться с другими пользователями, подбор соперника идёт всоответствии с вашим рейтингом.</p>

    <div class="info-container">
      <span>
        <fa-icon [icon]="faCircleInfo"></fa-icon>
        Информация
      </span>
      <p>
        Сайт выполнен в простом строгом черно-белом и минималистичном дизайне для удовлетворения всех пользователей.
      </p>
    </div>
  </div>
</main>


<main [ngClass]="{hidden:option !== 1}">
  <div class="main-header">
    <h2>Проект: Правила</h2>
    <span>Правила Keyflex</span>
  </div>
  <div class="main-container">
    <h3>Правила пользования:</h3>
  </div>
</main>


<main [ngClass]="{hidden:option !== 2}">
  <div class="main-header">
    <h2>Проект: разработка</h2>
    <span>Разработка Keyflex</span>
  </div>
  <div class="main-container">
    <div class="info-container">
      <span>
        <fa-icon [icon]="faExclamationCircle"></fa-icon>
        Предупреждение
      </span>
      <p>
        Данная страница только для других разработчиков.
      </p>
    </div>

    <h4>Keyflex</h4>
    <ul>
      <li>Проект разработанный на Angular CLI версии 18.0.4.</li>
      <li>Мой первый проект, разработанный на Angular</li>
      <li>Проект, который я разрабатываю только чтобы обучиться Angular за лето</li>
      <li>Используются сторонние библиотеки по типу:</li>
      <ul>
        <li>font awesome</li>
        <li>apexcharts</li>
      </ul>
      <li>Исползуется минималистичный дизайн</li>
      <li>Бекенд на FastAPI</li>
      <li>Проект, после которого я оканчательно переиду с React на Angular</li>
      <li>После разработки поддержка не планируется</li>
      <li>Проект в общем доступе, не для коммерческого использования</li>
    </ul>
    <div class="info-container">
      <p>Весь исходный код вы можете посмотреть на моём <a target="_blank" href="https://github.com/2ADA2/keyflex">github</a></p>
    </div>

  </div>
</main>


<main [ngClass]="{hidden:option !== 3}">
  <div class="main-header">
    <h2>Проект: о разработчиках</h2>
    <span>Информация и ссылки</span>
  </div>
  <div class="main-container">
    <h4 style="margin-bottom: 20px;">Дубровский Артём</h4>
    <p>Frontend разработчик с коммерческим опытом. В разработке использую такие фреймворки, как React и Angular:</p>
    <h5>React</h5>
    <p>Несколько лет опыта разработки на React, использую библиотеки:</p>
    <ul>
      <li>MobX / Redux</li>
      <li>font awesome</li>
      <li>axios</li>
      <li>react-chart-js2</li>
      <li>material ui</li>
      <li>react-router-dom</li>
    </ul>
    <p>Имею множество проектов, в том числе коммерческих.</p>
    <h5>Angular</h5>
    <p>Второй мой фреймворк, собираюсь сделать его своим основным.</p>
    <p>Библиотеки для Angular:</p>
    <ul>
      <li>font awesome</li>
      <li>apex charts</li>
    </ul>


    <h4>Кулик Иван</h4>
    <p>Питонист-волшебник</p>
  </div>
</main>


