@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono Thin';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/JetBrainsMono-Thin.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono Regilar';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono Medium';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
}


