<footer>
  <section>
    <h5>Навигация по сайту</h5>
    <a routerLink="/" >главная</a>
    <a routerLink="/training" >тренировка</a>
    <a routerLink="/play" >играть</a>
    <a routerLink="/about" >о разработчике</a>
    <a routerLink="/profile" >профиль</a>
  </section>
  <section>
    <h5>Связь с разработчиками</h5>
    <span>Артём</span>
    <a href="#" >github</a>
    <a href="#" >telegram</a>
    <a href="#" >instagram</a>
    <a href="#" >skype</a>
    <span style="margin-top:10px">Иван</span>
    <a href="#" >github</a>
    <a href="#" >telegram</a>
    <a href="#" >instagram</a>
  </section>
  <section>
    <h5>Полезные ресурсы</h5>
    <a href="https://10fastfingers.com/typing-test/russian"  target="_blank">10fastfingers.com</a>
    <a href="https://www.ratatype.com/ru/"  target="_blank">ratatype.com</a>
    <a href="https://angular.dev/"  target="_blank">angular.dev</a>
    <a href="https://learn.javascript.ru/"  target="_blank">learn.javascript.ru</a>
  </section>
  <section class="footer-alert">
    <p>15.06.2024 - Дуброский Артём, Кулик Иван</p>
    <p>Проект KeyFlex имеет открытый исходный код и не создан для коммерческих целей</p>
  </section>
</footer>
