<main>
  <div class="main-header">
    <h2>Подбор</h2>
    <span>Соревнуйтесь с другими игроками</span>
  </div>
  <section class="info-container">
    <h4>
      <fa-icon [icon]="faCircleInfo"></fa-icon>
      Подбор
    </h4>
    <p>
      На Keyflex вы можете соревноваться с другими игроками в реальном времени и зарабатывать рейтинг. Подбор соперника
      будет проводиться всоответствии с вашим рейтингом.
    </p>
  </section>
  <div class="main-container">
    <button style="width: 150px; height: 50px; margin: auto; display: block">Играть</button>
    <app-auth-alert></app-auth-alert>
  </div>
</main>
