.wrong{
  color:red;
}
.cross {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.modal-container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 3000;
  top:0;
  left:0;
  cursor: pointer;

  & .modal{
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    position: relative;
    z-index: 3001;
    top:100px;
    margin:auto;
    cursor: default;
    animation: show-modal 0.2s both;
  }
}

.hide{
  display: none;
}

@keyframes show-modal {
  0%{
    top:50px;
    transform: scale(1, 0.5);
    opacity: 0;
  }
  100%{
    top:100px;
    transform: scale(1, 1);
    opacity: 1;
  }
}

.main-header{
  margin: auto;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  & .info-panel, & .input-container{
    display: grid;
    padding: 10px 0;
  }

  & .info-panel{
    width: 1100px;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 10px;
    align-items: center;
    background: #1c1c1c;
    color:white;
    border-radius: 10px;
    padding: 40px 0;

    & .info-time{
      grid-column: 1/2;
      grid-row: 1/4;
      font-size: 24px;
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;

      & h5{
        display: inline;
      }

      & h5:last-child{
        font-size: 60px;
        line-height: 60px;
        position: relative;
        top: 20px;
      }
    }

    & div{
      justify-self: start;
    }

  }

  .input-container{
    width: 800px;
    margin: 20px 0;
    grid-row-gap: 10px;
    font-size: 36px;
    grid-template-columns: auto 100px 50px;
    grid-template-rows: repeat(2, 60px);
    grid-column-gap: 10px;

    & .text-container{
      overflow: hidden;
      height: 60px;
      border: 2px solid #757575;
      border-radius: 4px;
      position: relative;
      grid-column: 1/4;

      & p{
        position: absolute;
        top:4px;
        left:5px;
        width: 4000px;
        word-spacing: 1px;

        & span{
          background: #e0e0e0;
          display: inline-flex;
          padding: 0 15px;
        }
      }
    }

    & input{
      min-width: 300px;
      height: 46px;
      font-size: 28px;
      padding-left: 10px;
      border: 2px solid #a2a2a2;
      border-radius: 4px;
      grid-row-start: 2;
      &:focus{
        border: 2px solid #757575;
        outline: none;
      }
    }

    & button{
      width: 100px;
      height: 46px;
      grid-row-start: 2;
    }
    & button:last-child{
      width: 50px;
      height: 46px;
      grid-row-start: 2;
    }
  }
}

.info-panel{
  display: grid;
  width: 1100px;
  grid-template-columns: 2fr 2fr 3fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
  align-items: center;
  background: #1c1c1c;
  color:white;
  border-radius: 10px;
  padding: 40px 10px;

  & .info-time{
    grid-column: 1/2;
    grid-row: 1/5;
    font-size: 24px;
    justify-self: center;

    & h5:last-child{
      font-size: 40px;
    }
  }

  & div{
    justify-self: start;
  }
}

.custom-settings-container{
  position: relative;
  height: 300px;

  & .hideSettings{
    width: 800px;
    animation: hideSettings 0.2s both;
  }

  & .customSettings{
    width: 800px;
    animation: showSettings 0.4s 0.2s both;
  }
}

@keyframes hideSettings {
  0%{
    opacity: 1;
    position: absolute;
    right:calc(50% - 400px);
  }
  99%{
    opacity: 0;
    position: absolute;
    right:-300px;
  }
  100%{
    display: none;
  }
}

@keyframes showSettings {
  0%{
    opacity: 0;
    position: absolute;
    right: -500px;
  }
  100%{
    opacity: 1;
    position: absolute;
    right:calc(50% - 400px);
  }
}

.custon-settings{
  display: flex;
  flex-direction: column;
  gap:8px;
  height: 300px;

  & h3{
    border-left: 4px solid black;
    padding-left:10px;
    font-size: 30px;
    vertical-align: center;
    display: flex;
    align-items: center;
  }

  & textarea{
    flex: 1 1 auto;
    resize: none;
    padding: 2px;
  }

  & button{
    width: 120px;
    height: 48px;
  }
}
