<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1>Регистрация аккаунта KF</h1>
  <label>
    имя пользователя
    <input
      formControlName = "login"
      placeholder="введите имя пользователя или почту"
    >
  </label>

  <label>
    электронная почта
    <input
      formControlName = "email"
      placeholder="введите адрес электронной почты"
      type="email"
    >
  </label>

  <label>
    пароль
    <input
      formControlName = "password"
      type="password"
      placeholder="введите пароль"
    >
  </label>
  <label>
    повторите пароль
    <input
      type="password"
      formControlName = "password_repeat"
      placeholder="введите пароль"
    >
  </label>

  <div>
    <button>Войти</button>
    <button>Войти</button>
  </div>

  <div>
    <span>уже есть аккаунт?</span>
    <a routerLink="/login">войдите</a>
  </div>

</form>
