form {
  min-height: 100vh;
  padding: 40px 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & h1 {
    border-left: 10px solid black;
    padding-left: 40px;
    font-size: 64px;
    margin-bottom: 40px;
  }

  & button {
    width: auto;
    height: 50px;
    font-size: 24px;
    padding: 0 40px;
  }

  & label {
    display: flex;
    flex-direction: column;
    color: #494949;

    & input {
      width: 50%;
      min-width: 400px;
      max-width: 1000px;
      height: 50px;
      font-size: clamp(16px, 2vw, 30px);
      line-height: 50px;
      font-family: "JetBrains Mono SemiBold";
      background-color: white;
      border: 2px solid #1c1c1c;
      padding-left: 10px;
      border-radius: 5px;
    }
  }

  & div{
    font-size: clamp(16px, 2vw, 24px);
    & a{
      margin-left: 10px;
      &:hover{
        text-decoration: underline;
      }
    }

    & .fast-login{
      margin-left: 20px;
      width: 60px;
      padding: 0;
    }
  }
}

.auth-background{
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  justify-content: center;
  background-color: rgba(28, 28, 28, 0.8);
  width: 100vw;
  height: 140vh;
  z-index: -1;
  left:50vw;
  top:0;
  rotate:10deg;
  font-size: 7vw;
  color:white;
  & svg{
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .auth-background{
    display: none;
  }

}
