.keys {
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);

  & .line {
    display: flex;
    gap: 2px;

    & .key {
      display: flex;
      width: 50px;
      height: 50px;
      border: 1px solid black;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      transition-duration: 300ms;

      & sup {
        position: relative;
        bottom: 10px;
        left: 5px;
      }

      & .sup2 {
        position: relative;
        bottom: 20px;
        left: 10px;
      }
    }

    & .sys {
      border: 1px solid black;
      border-radius: 5px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
    }

    & .caps {
      width: 120px;
    }

    & .enter {
      width: 80px;
    }

    & .lshift {
      width: 130px;
    }

    & .rshift {
      width: 122px;
    }

    & .space {
      width: 400px;
      height: 50px;
      border: 1px solid black;
      border-radius: 5px;
      margin: auto;
    }

    & .active {
      color: white;
      background: black;
    }

  }
}
