*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono Medium";
}

a{
  text-decoration: none;
  color:black;
}

.main-header{
  padding: 40px 15%;
  & h2{
    border-left: 10px solid black;
    padding-left: 40px;
    font-size: 64px;
  }
  & span{
    position: relative;
    right:33px;
    padding-left: 30px;
    font-size: 30px;
    margin-top:10px;
    display: block;
  }
}
.main-container{
  padding: 40px 15%;
}
.main-section{
  margin-top: 40px;

  & h3{
    font-size: 30px;
  }
}

.info-container{
  padding: 40px 15%;
  margin: 40px auto;
  background: rgb(239, 239, 239);

  & h4{
    font-size: 30px;
    margin-bottom: 10px;
  }

  & ul{
    position: relative;
    left: 40px;
    margin: 10px 0;
  }

  & a{
    cursor: pointer;
    font-weight: 600;
    &:hover{
      text-decoration: underline;

    }
  }
}

button{
  background: #1c1c1c;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  border: none;
  &:hover{
    background: #313131;
  }

  &:active{
    background: #000000;
  }
}
